html {
  height: auto;
  font-size: 35%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 40%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 45%;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 60%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

table {
  border-collapse: collapse;
  min-width: 768px;
  margin: 30rem auto 4rem auto;
  width: 95%;
}

.estadisticas {
  margin: 0 auto 4rem auto;
}

.horario-ver {
  border-collapse: collapse;
  max-width: 160rem;
  min-width: 768px;
  margin: 2rem auto;
  width: 95%;
}

th,
td {
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.cursos {
  font-weight: 700;
}

/* Panel */
.contenedor {
  margin: 0 auto;
  max-width: 200rem;
}

.contenedor-panel {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 25rem;
  justify-content: space-around;
  top: 0;
  width: 100%;
  max-width: 1600px;
  min-width: 768px;
}

@media (min-width: 768px) {
  .contenedor-panel {
    position: fixed;
  }
}

.panel {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  height: auto;
  border-radius: 0 0 2rem 2rem;
  width: 75%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
  position: relative;
  background-color: azure;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 2rem;
}

@media (min-width: 1200px) {
  label {
    font-size: 2.2rem;
  }
}

input,
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 2rem;
  width: 100%;
}

input[type="text"] {
  height: 5.3rem;
}

.ui-timepicker-wrapper {
  font-size: 2rem;
  width: 20rem;
}

@media (min-width: 900px) {
  .ui-timepicker-wrapper {
    font-size: 2.2rem;
  }
}

@media (min-width: 900px) {
  input,
  select {
    font-size: 2.2rem;
  }
}

.insertar {
  padding: 2rem;
  background-color: #060876;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 700;
  transition: background-color 0.3s;
  margin-top: 1rem;
  height: 7rem;
}

.insertar:hover {
  background-color: #050761;
}

#resetear,
#guardar {
  padding: 1rem;
  width: 10%;
  margin: auto 0;
  border: none;
  background-color: rgb(235, 7, 7);
  border-radius: 2rem;
  font-size: 2.2rem;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  transition: background-color 0.3s;
  color: white;
  height: 10rem;
}

#resetear:hover,
#guardar:hover {
  background-color: rgb(184, 2, 2);
}

.color-azul,
.btn-azul {
  background-color: #060876;
  color: white;
}

.error {
  position: absolute;
  text-align: center;
  background-color: red;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  width: 90%;
  bottom: 1.5rem;
}

.error p {
  margin: 0;
}
.total-maximo {
  font-weight: 700;
  font-size: 3rem;
  color: red;
}
